Repository TeamWazard/wazard-server, pull requests merged in 2023-05, with the labels that each got.

#32 [Fix/#31] 회원 도메인 엔티티, 도메인 클래스 분리 및 전체 코드 수정
  account-component/build.gradle
  account-component/src/main/java/shop/wazard/adapter/README.md
  account-component/src/main/java/shop/wazard/adapter/in/rest/AccountController.java
  account-component/src/main/java/shop/wazard/adapter/in/rest/CommonAccountController.java
  account-component/src/main/java/shop/wazard/adapter/in/rest/MemberAccountController.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/Account.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountDbAdapter.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountDomainConverter.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountJpaRepository.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountMapper.java
  account-component/src/main/java/shop/wazard/application/port/AccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/CommonAccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/CompanyAccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/MemberAccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/UserDetailServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/domain/Account.java
  account-component/src/main/java/shop/wazard/application/port/domain/AccountForSecurity.java
  account-component/src/main/java/shop/wazard/application/port/domain/AccountStatus.java
  account-component/src/main/java/shop/wazard/application/port/domain/GenderType.java
  account-component/src/main/java/shop/wazard/application/port/domain/MyProfile.java
  account-component/src/main/java/shop/wazard/application/port/in/AccountService.java
  account-component/src/main/java/shop/wazard/application/port/in/CommonAccountService.java
  account-component/src/main/java/shop/wazard/application/port/in/CompanyAccountService.java
  account-component/src/main/java/shop/wazard/application/port/in/MemberAccountService.java
  account-component/src/main/java/shop/wazard/application/port/out/LoadAccountPort.java
  account-component/src/main/java/shop/wazard/application/port/out/SaveAccountPort.java
  account-component/src/main/java/shop/wazard/application/port/out/UpdateAccountPort.java
  account-component/src/main/java/shop/wazard/dto/JoinReqDto.java
  account-component/src/main/java/shop/wazard/dto/LoginResDto.java
  account-component/src/main/java/shop/wazard/dto/UpdateMyProfileReqDto.java
  account-component/src/main/java/shop/wazard/dto/UpdateMyProfileResDto.java
  account-component/src/main/java/shop/wazard/exception/AccountExceptionHandler.java
  account-component/src/main/java/shop/wazard/exception/AccountNotFoundException.java
  account-component/src/main/java/shop/wazard/exception/NestedEmailException.java
  account-component/src/test/java/shop/wazard/adapter/in/rest/AccountControllerTestJpa.java
  account-component/src/test/java/shop/wazard/adapter/in/rest/CompanyAccountControllerTest.java
  account-component/src/test/java/shop/wazard/application/port/AccountServiceTestJpa.java
  account-component/src/test/java/shop/wazard/application/port/CompanyAccountServiceTest.java
  build.gradle
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
  common-component/src/main/java/shop/wazard/util/security/WebSecurityConfig.java
  entity-component/build.gradle
  entity-component/src/main/java/shop/wazard/entity/account/AccountJpa.java
  entity-component/src/main/java/shop/wazard/entity/account/AccountStatusJpa.java
  entity-component/src/main/java/shop/wazard/entity/account/GenderTypeJpa.java
  settings.gradle
  smtp-component/out/production/resources/templates/css/certificationMailForm.css
  smtp-component/out/production/resources/templates/mailForm.html
  smtp-component/src/main/java/shop/wazard/exception/EmailExceptionHandler.java
  smtp-component/src/main/resources/templates/mailForm.html
Labels: fix, help wanted, 심종한, size/XXL

#34 [Fix/#33] 메일 인증 화면 디자인 적용
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountDbAdapter.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountMapper.java
  account-component/src/main/java/shop/wazard/application/port/AccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/out/LoadAccountPort.java
  smtp-component/out/production/resources/templates/certificationMailForm.html
  smtp-component/out/production/resources/templates/img/emailLogo.png
  smtp-component/out/production/resources/templates/mailForm.html
  smtp-component/src/main/resources/templates/certificationMailForm.html
  smtp-component/src/main/resources/templates/img/emailLogo.png
  smtp-component/src/main/resources/templates/mailForm.html
Labels: fix, 심종한, size/L

#40 [Docs/#39] 깃허브 템플릿 및 리드미 수정
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/FIX_REQUEST.md
  .github/ISSUE_TEMPLATE/HOTFIX_REQUEST.md
  .github/ISSUE_TEMPLATE/REFACTOR_REQUEST.md
  .github/ISSUE_TEMPLATE/TEST_REQUEST.md
  README.md
Labels: documentation, 심종한, size/S

#38 [Test/#37] 비밀번호 확인 service 단위 테스트
  account-component/src/main/java/shop/wazard/application/port/AccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/port/in/AccountService.java
  account-component/src/main/java/shop/wazard/dto/CheckPasswordReqDto.java
  account-component/src/main/java/shop/wazard/dto/CheckPasswordResDto.java
  account-component/src/test/java/shop/wazard/application/port/AccountServiceTest.java
  smtp-component/src/main/java/shop/wazard/application/port/EmailServiceImpl.java
  smtp-component/src/main/resources/templates/mailForm.html
Labels: test, 심종한, size/L

#36 [Test/#35] 비밀번호 확인 controller 테스트 코드 작성 및 service 단위 테스트 코드 수정
  account-component/src/test/java/shop/wazard/adapter/in/rest/AccountControllerTest.java
  account-component/src/test/java/shop/wazard/adapter/in/rest/AccountControllerTestJpa.java
  account-component/src/test/java/shop/wazard/application/port/AccountServiceTest.java
Labels: test, size/L

#43 [Feat/42] 비밀번호 확인 service 작성
  account-component/src/main/java/shop/wazard/application/port/AccountServiceImpl.java
  account-component/src/main/java/shop/wazard/exception/AccountExceptionHandler.java
Labels: feature, 심종한, size/S

#47 [Feat/#46] 업장 엔티티 및 도메인 등 추가
  build.gradle
  company-component/build.gradle
  company-component/src/main/java/shop/wazard/adapter/in/rest/CompanyController.java
  company-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaRepository.java
  company-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyMapper.java
  company-component/src/main/java/shop/wazard/application/port/CompanyServiceImpl.java
  company-component/src/main/java/shop/wazard/application/port/domain/Account.java
  company-component/src/main/java/shop/wazard/application/port/domain/AccountStatus.java
  company-component/src/main/java/shop/wazard/application/port/domain/Company.java
  company-component/src/main/java/shop/wazard/application/port/domain/CompanyInfo.java
  company-component/src/main/java/shop/wazard/application/port/in/CompanyService.java
  company-component/src/main/java/shop/wazard/application/port/out/LoadCompanyPort.java
  company-component/src/main/java/shop/wazard/application/port/out/SaveCompanyPort.java
  company-component/src/main/java/shop/wazard/application/port/out/UpdateCompanyPort.java
  company-component/src/main/java/shop/wazard/dto/RegisterCompanyReqDto.java
  company-component/src/main/java/shop/wazard/dto/RegisterCompanyResDto.java
  entity-component/src/main/java/shop/wazard/entity/account/AccountJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyAccountRelJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
  settings.gradle
Labels: feature, 김민규, 심종한, 진윤규, size/L

#51 [Test/#49] 업장 등록 service 단위 테스트 & 구현
  account-component/src/test/java/shop/wazard/application/port/AccountServiceTest.java
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-management-component/src/main/java/shop/wazard/application/port/CompanyServiceImpl.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/Account.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/Company.java
  company-management-component/src/main/java/shop/wazard/application/port/in/CompanyService.java
  company-management-component/src/main/java/shop/wazard/application/port/out/LoadCompanyPort.java
  company-management-component/src/main/java/shop/wazard/application/port/out/SaveCompanyPort.java
  company-management-component/src/main/java/shop/wazard/dto/RegisterCompanyResDto.java
  company-management-component/src/main/java/shop/wazard/exception/CompanyExceptionHandler.java
  company-management-component/src/main/java/shop/wazard/exception/RegisterPermissionDenied.java
  company-management-component/src/test/java/shop/wazard/application/port/CompanyServiceTest.java
  entity-component/src/main/java/shop/wazard/entity/company/LogoImageJpa.java
Labels: feature, test, 심종한, size/L

#56 [Fix/#55] 업장등록 save company로직 추가
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
Labels: fix, 김민규, size/XS

#59 [Feat/#58] BaseEntity 생성 및 적용
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountMapper.java
  account-component/src/main/java/shop/wazard/application/port/domain/Account.java
  entity-component/src/main/java/shop/wazard/entity/account/AccountJpa.java
  entity-component/src/main/java/shop/wazard/entity/account/AccountStatusJpa.java
  entity-component/src/main/java/shop/wazard/entity/common/BaseEntity.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyAccountRelJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/LogoImageJpa.java
Labels: feature, 김민규, size/M

#65 [Test/#60] 업장 등록 repository 단위 테스트
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyMapper.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/RelationRepository.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/Company.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/CompanyInfo.java
  company-management-component/src/main/java/shop/wazard/dto/RegisterCompanyReqDto.java
  company-management-component/src/test/java/shop/wazard/adapter/out/persistence/CompanyDbAdapterTest.java
  entity-component/src/main/java/shop/wazard/entity/account/AccountJpa.java
  entity-component/src/main/java/shop/wazard/entity/common/BaseEntity.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyAccountRelJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/LogoImageJpa.java
  smtp-component/out/production/resources/templates/certificationMailForm.html
  smtp-component/src/main/resources/templates/certificationMailForm.html
  smtp-component/src/main/resources/templates/img/emailLogo.png
Labels: test, 심종한, size/L

#57 [Feat/#50] 업장등록 Controller 개발 코드 작성
  company-management-component/src/main/java/shop/wazard/adapter/in/rest/CompanyController.java
Labels: feature, 진윤규, size/S

#66 [Test/#64] 업장 수정 service 단위 테스트 코드 작성 및 구현
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-management-component/src/main/java/shop/wazard/application/port/CompanyServiceImpl.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/CompanyInfo.java
  company-management-component/src/main/java/shop/wazard/application/port/in/CompanyService.java
  company-management-component/src/main/java/shop/wazard/application/port/out/LoadCompanyPort.java
  company-management-component/src/main/java/shop/wazard/application/port/out/UpdateCompanyPort.java
  company-management-component/src/main/java/shop/wazard/dto/UpdateCompanyInfoReqDto.java
  company-management-component/src/main/java/shop/wazard/dto/UpdateCompanyInfoResDto.java
  company-management-component/src/test/java/shop/wazard/application/port/CompanyServiceTest.java
  smtp-component/out/production/resources/templates/certificationMailForm.html
  smtp-component/out/production/resources/templates/img/emailLogo.png
Labels: test, 진윤규, size/L

#67 [Test/#61] 업장 수정 repository 단위 테스트 코드 & 기능 개발 코드 추가
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyMapper.java
  company-management-component/src/main/java/shop/wazard/exception/CompanyNotFoundException.java
  company-management-component/src/test/java/shop/wazard/adapter/out/persistence/CompanyDbAdapterTest.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
Labels: feature, test, 김민규, size/L

#70 [Feat/#68] 업장 정보 수정 controller 구현
  account-component/src/test/java/shop/wazard/adapter/out/persistence/AccountDbAdapterTest.java
  company-management-component/src/main/java/shop/wazard/adapter/in/rest/CompanyController.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/AccountMapperForManagement.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyMapperForManagement.java
  company-management-component/src/main/java/shop/wazard/application/port/CompanyServiceImpl.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/AccountForManagement.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/CompanyForManagement.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/CompanyInfo.java
  company-management-component/src/main/java/shop/wazard/application/port/out/LoadAccountForCompanyManagementPort.java
  company-management-component/src/main/java/shop/wazard/application/port/out/LoadCompanyPort.java
  company-management-component/src/main/java/shop/wazard/application/port/out/SaveCompanyPort.java
  company-management-component/src/main/java/shop/wazard/application/port/out/UpdateCompanyPort.java
  company-management-component/src/main/java/shop/wazard/dto/RegisterCompanyReqDto.java
  company-management-component/src/main/java/shop/wazard/dto/UpdateCompanyInfoReqDto.java
  company-management-component/src/test/java/shop/wazard/adapter/out/persistence/CompanyForManagementDbAdapterTest.java
  company-management-component/src/test/java/shop/wazard/application/port/CompanyForManagementServiceTest.java
  src/test/java/shop/wazard/adapter/in/rest/AccountForManagementControllerTest.java
Labels: bug, feature, fix, 심종한, size/L

#73 [Test/#69] 업장 삭제 service 테스트 코드 및 개발 코드 작성
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyMapperForManagement.java
  company-management-component/src/main/java/shop/wazard/application/port/CompanyServiceImpl.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/CompanyForManagement.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/CompanyStatus.java
  company-management-component/src/main/java/shop/wazard/application/port/domain/RelationType.java
  company-management-component/src/main/java/shop/wazard/application/port/in/CompanyService.java
  company-management-component/src/main/java/shop/wazard/application/port/out/UpdateCompanyAccountRelForCompanyManagementPort.java
  company-management-component/src/main/java/shop/wazard/application/port/out/UpdateCompanyPort.java
  company-management-component/src/main/java/shop/wazard/dto/DeleteCompanyReqDto.java
  company-management-component/src/main/java/shop/wazard/dto/DeleteCompanyResDto.java
  company-management-component/src/test/java/shop/wazard/adapter/out/persistence/CompanyForManagementDbAdapterTest.java
  company-management-component/src/test/java/shop/wazard/application/port/CompanyForManagementServiceTest.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyAccountRelJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/RelationTypeJpa.java
Labels: feature, test, 김민규, size/L

#78 [Feat/#75] 출/퇴근 엔티티 생성
  entity-component/src/main/java/shop/wazard/entity/account/AccountJpa.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/CommuteRecordJpa.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/CommuteTypeJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
Labels: feature, 김민규, size/M

#77 [Feat/#76] 업장 삭제 controller & exception handler 구현
  account-component/src/main/java/shop/wazard/exception/AccountExceptionHandler.java
  company-management-component/src/main/java/shop/wazard/adapter/in/rest/CompanyManagementController.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyForCompanyManagementMapper.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForManagementRepository.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyManagementDbAdapter.java
  company-management-component/src/main/java/shop/wazard/application/CompanyManagementServiceImpl.java
  company-management-component/src/main/java/shop/wazard/application/port/out/CompanyForManagementPort.java
  company-management-component/src/main/java/shop/wazard/dto/DeleteCompanyReqDto.java
  company-management-component/src/main/java/shop/wazard/dto/RegisterCompanyResDto.java
  company-management-component/src/main/java/shop/wazard/exception/CompanyExceptionHandler.java
Labels: feature, 심종한, size/L

#81 [Feat/#80] 운영중인 업장 리스트 조회 controller 및 필요한 요소 추가
  company-management-component/src/main/java/shop/wazard/adapter/in/rest/CompanyManagementController.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyManagementDbAdapter.java
  company-management-component/src/main/java/shop/wazard/application/CompanyManagementServiceImpl.java
  company-management-component/src/main/java/shop/wazard/application/port/in/CompanyManagementService.java
  company-management-component/src/main/java/shop/wazard/application/port/out/RosterForCompanyManagementPort.java
  company-management-component/src/main/java/shop/wazard/dto/GetOwnedCompanyResDto.java
Labels: feature, 김민규, size/M, attention❗️

#85 [Test/#84] 운영업장 목록 조회 repository 단위 테스트 & 구현
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyForCompanyManagementMapper.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForManagementRepository.java
  company-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyManagementDbAdapter.java
  company-management-component/src/test/java/shop/wazard/adapter/out/persistence/CompanyForManagementDbAdapterTest.java
Labels: feature, test, 심종한, size/L

#100 [Feat/#96] 근무자 관리 필요 세팅 추가
  worker-management-component/src/main/java/shop/wazard/adapter/in/rest/WorkerManagementController.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementMapper.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/repository/AccountForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/repository/RosterForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/repository/WaitingListForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/domain/WorkerManagement.java
  worker-management-component/src/main/java/shop/wazard/application/port/in/WorkerManagementService.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/WorkerManagementPort.java
  worker-management-component/src/main/java/shop/wazard/dto/ApproveWorkerReqDto.java
  worker-management-component/src/main/java/shop/wazard/dto/ApproveWorkerResDto.java
  worker-management-component/src/main/java/shop/wazard/exception/AccountNotFoundException.java
  worker-management-component/src/main/java/shop/wazard/exception/CompanyNotFoundException.java
  worker-management-component/src/main/java/shop/wazard/exception/WorkerManagementExceptionHandler.java
Labels: feature, 김민규, size/L

#106 [Feat/#105] waiting status 변경 메서드 추가
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/WaitingListForWorkerManagementPort.java
Labels: feature, 심종한, size/XS

#107 [Feat/#93] 알바생 업장 가입승인 repository 단위 테스트 코드 작성 및 코드 개발
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
  entity-component/src/main/java/shop/wazard/entity/company/WaitingListJpa.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForWorkerManagementMapper.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementMapper.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/domain/CompanyForWorkerManagement.java
  worker-management-component/src/main/java/shop/wazard/application/domain/CompanyInfo.java
  worker-management-component/src/main/java/shop/wazard/application/domain/WaitingInfo.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/WorkerManagementPort.java
  worker-management-component/src/main/java/shop/wazard/exception/WorkerManagementExceptionHandler.java
  worker-management-component/src/main/java/shop/wazard/exception/WorkerNotFoundInWaitingListException.java
  worker-management-component/src/test/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapterTest.java
  worker-management-component/src/test/java/shop/wazard/application/WorkerManagementServiceTest.java
Labels: feature, test, 김민규, size/L

#111 [Feat/#109] 소속업장 리스트 조회 api 개발
  company-component/src/main/java/shop/wazard/adapter/in/rest/CompanyController.java
  company-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyDbAdapter.java
  company-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaRepository.java
  company-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyMapper.java
  company-component/src/main/java/shop/wazard/application/CompanyServiceImpl.java
  company-component/src/main/java/shop/wazard/application/domain/AccountForCompany.java
  company-component/src/main/java/shop/wazard/application/port/in/CompanyService.java
  company-component/src/main/java/shop/wazard/application/port/out/RosterForCompanyPort.java
  company-component/src/main/java/shop/wazard/dto/GetBelongedCompanyReqDto.java
  company-component/src/main/java/shop/wazard/dto/GetBelongedCompanyResDto.java
Labels: feature, 심종한, size/L

#112 [Test/#108] 소속 업장 리스트 조회 service 단위 테스트 코드 작성
  company-component/src/test/java/shop/wazard/application/CompanyServiceTest.java
Labels: test, 김민규, size/M

#113 [Test/#110] 소속 업장 리스트 조회 repository 테스트코드 작성
  .gitignore
  company-component/src/test/java/shop/wazard/adapter/out/persistence/CompanyDbAdapterTest.java
  gradlew
  smtp-component/out/production/resources/templates/certificationMailForm.html
Labels: test, 진윤규, size/L

#115 [Feat/#114] 특정 업장 소속 근무자 리스트 조회 api 추가
  entity-component/src/main/java/shop/wazard/entity/company/WaitingListJpa.java
  worker-management-component/src/main/java/shop/wazard/adapter/in/rest/WorkerManagementController.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/RosterForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementMapper.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/domain/GenderType.java
  worker-management-component/src/main/java/shop/wazard/application/port/in/WorkerManagementService.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/RosterForWorkerManagementPort.java
  worker-management-component/src/main/java/shop/wazard/dto/WorkerBelongedToCompanyReqDto.java
  worker-management-component/src/main/java/shop/wazard/dto/WorkerBelongedToCompanyResDto.java
Labels: feature, 김민규, size/L

#118 [Test/#117] 업장 근무자 리스트 조회 service 단위 테스트
  company-component/out/test/resources/application.yml
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/AccountJpaForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/RosterForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/RosterJpaForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WaitingListJpaForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/domain/AccountForWorkerManagement.java
  worker-management-component/src/main/java/shop/wazard/dto/WorkerBelongedToCompanyReqDto.java
  worker-management-component/src/test/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapterTest.java
  worker-management-component/src/test/java/shop/wazard/application/WorkerManagementServiceTest.java
Labels: test, 심종한, size/L

#127 [Fix/#126] 로그인 응답 값 수정
  .gitignore
  account-component/out/test/resources/application.yml
  account-component/src/main/java/shop/wazard/application/AccountServiceImpl.java
  account-component/src/main/java/shop/wazard/dto/LoginResDto.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
  worker-management-component/out/test/resources/application.yml
Labels: fix, 심종한, size/M

#128 [Feat/#121] 근무자 결석 처리 service테스트코드 작성 및 구현
  attendance-component/out/test/resources/application.yml
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/domain/AbsentForAttendance.java
  attendance-component/src/main/java/shop/wazard/application/port/out/AbsentForAttendancePort.java
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
Labels: feature, test, 진윤규, size/L

#129 [Feat/#122] 근무자 결석 처리 repository 단위 테스트 & 구현
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AbsentJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForAttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/CommuteRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/application/port/out/AbsentForAttendancePort.java
  attendance-component/src/main/java/shop/wazard/exception/AttendanceExceptionHandler.java
  attendance-component/src/main/java/shop/wazard/exception/CompanyNotFoundException.java
  attendance-component/src/test/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapterTest.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/AbsentJpa.java
Labels: feature, test, 김민규, size/L

#131 [Fix/#130] 빈 주입 누락 수정
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
Labels: fix, 심종한, size/XS

#133 [Feat/#132] 근무자 출근 등록 세팅 추가
  attendance-component/src/main/java/shop/wazard/adapter/in/rest/AttendanceController.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/domain/CommuteRecordForAttendance.java
  attendance-component/src/main/java/shop/wazard/application/domain/CommuteType.java
  attendance-component/src/main/java/shop/wazard/application/port/in/AttendanceService.java
  attendance-component/src/main/java/shop/wazard/application/port/out/CommuteRecordForAttendancePort.java
  attendance-component/src/main/java/shop/wazard/dto/CommuteRecordReqDto.java
  attendance-component/src/main/java/shop/wazard/dto/CommuteRecordResDto.java
Labels: feature, 김민규, size/L

#135 [Feat/#134] 출/퇴근 등록 service 단위 테스트 코드 작성 및 구현
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/domain/AccountForAttendance.java
  attendance-component/src/main/java/shop/wazard/application/domain/CommuteRecordForAttendance.java
  attendance-component/src/main/java/shop/wazard/exception/InvalidTardyStateException.java
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
Labels: feature, test, 김민규, size/M

#142 [Fix/#141] 단위 테스트 실패 시 merge 차단
  .github/workflows/gradleTest.yml
Labels: fix, 심종한, size/L

#137 [Test/#136] 근무자 출/퇴근 repository 단위 테스트 & 구현
  .github/workflows/gradleTest.yml
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceMapper.java
  attendance-component/src/test/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapterTest.java
  build.gradle
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/CommuteRecordJpa.java
  gradlew
  src/test/java/shop/wazard/acceptance/WazardApplicationTests.java
Labels: feature, test, 심종한, size/L

#147 [Feat/#146] 업장 근무자 초기 세팅 추가
  build.gradle
  entity-component/src/main/java/shop/wazard/entity/worker/WorkerJpa.java
  settings.gradle
  worker-component/build.gradle
  worker-component/src/main/java/shop/wazard/adapter/in/rest/WorkerController.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerDbAdapter.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerMapper.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerRepository.java
  worker-component/src/main/java/shop/wazard/application/WorkerServiceImpl.java
  worker-component/src/main/java/shop/wazard/application/domain/Worker.java
  worker-component/src/main/java/shop/wazard/application/port/in/WorkerService.java
  worker-component/src/main/java/shop/wazard/application/port/out/WorkerPort.java
  worker-component/src/main/java/shop/wazard/exception/AccountNotFoundException.java
  worker-component/src/main/java/shop/wazard/exception/JoinWorkerDeniedException.java
  worker-component/src/main/java/shop/wazard/exception/NotAuthorizedException.java
  worker-component/src/main/java/shop/wazard/exception/WorkerExceptionHandler.java
Labels: feature, 김민규, 진윤규

#148 [Fix/#143] 출퇴근 엔티티 분리 & 출근 api로 변경
  attendance-component/src/main/java/shop/wazard/adapter/in/rest/AttendanceController.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/CommuteRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/domain/CommuteRecordForAttendance.java
  attendance-component/src/main/java/shop/wazard/application/domain/CommuteType.java
  attendance-component/src/main/java/shop/wazard/application/domain/EnterRecord.java
  attendance-component/src/main/java/shop/wazard/application/port/in/AttendanceService.java
  attendance-component/src/main/java/shop/wazard/application/port/out/CommuteRecordForAttendancePort.java
  attendance-component/src/main/java/shop/wazard/dto/RecordEnterTimeReqDto.java
  attendance-component/src/main/java/shop/wazard/dto/RecordEnterTimeResDto.java
  attendance-component/src/test/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapterTest.java
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/CommuteTypeJpa.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/EnterRecordJpa.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/ExitRecordJpa.java
  entity-component/src/main/java/shop/wazard/entity/company/CompanyJpa.java
Labels: fix, 심종한, size/L

#151 [fix/#150] 출퇴근 entity 수정
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/EnterRecordJpa.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/ExitRecordJpa.java
Labels: fix, 진윤규, size/XS

#153 [Feat/#149] 근무자 퇴근 기록 단위 테스트 & 구현
  attendance-component/src/main/java/shop/wazard/adapter/in/rest/AttendanceController.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AbsentJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForAttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/CommuteRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/EnterRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/ExitRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/domain/EnterRecord.java
  attendance-component/src/main/java/shop/wazard/application/domain/ExitRecord.java
  attendance-component/src/main/java/shop/wazard/application/port/in/AttendanceService.java
  attendance-component/src/main/java/shop/wazard/application/port/out/CommuteRecordForAttendancePort.java
  attendance-component/src/main/java/shop/wazard/dto/RecordEnterTimeReqDto.java
  attendance-component/src/main/java/shop/wazard/dto/RecordExitTimeReqDto.java
  attendance-component/src/main/java/shop/wazard/dto/RecordExitTimeResDto.java
  attendance-component/src/main/java/shop/wazard/exception/EnterRecordNotFoundException.java
  attendance-component/src/test/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapterTest.java
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/EnterRecordJpa.java
  entity-component/src/main/java/shop/wazard/entity/commuteRecord/ExitRecordJpa.java
Labels: feature, fix, test, size/L

#154 [Feat/#144]고용주 요일별 출근부 조회
  attendance-component/src/main/java/shop/wazard/adapter/in/rest/AttendanceController.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/EnterRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/ExitRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/domain/Attendance.java
  attendance-component/src/main/java/shop/wazard/application/port/in/AttendanceService.java
  attendance-component/src/main/java/shop/wazard/application/port/out/CommuteRecordForAttendancePort.java
  attendance-component/src/main/java/shop/wazard/dto/GetAttendanceByDayOfTheWeekReqDto.java
  attendance-component/src/main/java/shop/wazard/dto/GetAttendanceByDayOfTheWeekResDto.java
  attendance-component/src/test/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapterTest.java
Labels: feature, test, 김민규, size/L

#156 [Test/#155] 고용주 요일별 출근부 조회 service 테스트 코드 작성
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
Labels: test, 김민규, size/M

#160 Revert [Test/#155] 고용주 요일별 출근부 조회 service 테스트 코드 작성
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
Labels: fix, 김민규, size/M

#158 [Feat/#145] 근무자 요일별 출근부 조회
  attendance-component/src/main/java/shop/wazard/adapter/in/rest/AttendanceController.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/EnterRecordJpaForAttendanceRepository.java
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/main/java/shop/wazard/application/port/in/AttendanceService.java
  attendance-component/src/main/java/shop/wazard/application/port/out/CommuteRecordForAttendancePort.java
  attendance-component/src/test/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapterTest.java
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
Labels: feature, test, 진윤규, size/L

#163 [Test/#162] 누락된 고용주 요일별 출근부 조회 service 단위테스트 추가 및 메서드 통합
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceDbAdapter.java
  attendance-component/src/main/java/shop/wazard/adapter/out/persistence/AttendanceMapper.java
  attendance-component/src/main/java/shop/wazard/application/AttendanceServiceImpl.java
  attendance-component/src/test/java/shop/wazard/application/AttendanceServiceImplTest.java
Labels: test, 김민규, size/M

#164 [Feat/#159] 고용주 알바생 퇴출 api 및 테스트 코드 추가
  common-component/src/main/java/shop/wazard/util/exception/StatusEnum.java
  entity-component/src/main/java/shop/wazard/entity/company/RosterJpa.java
  worker-management-component/src/main/java/shop/wazard/adapter/in/rest/WorkerManagementController.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/RosterJpaForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementMapper.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/domain/BaseStatus.java
  worker-management-component/src/main/java/shop/wazard/application/domain/RosterForWorkerManagement.java
  worker-management-component/src/main/java/shop/wazard/application/domain/WaitingInfo.java
  worker-management-component/src/main/java/shop/wazard/application/port/in/WorkerManagementService.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/RosterForWorkerManagementPort.java
  worker-management-component/src/main/java/shop/wazard/dto/ExileWorkerReqDto.java
  worker-management-component/src/main/java/shop/wazard/dto/ExileWorkerResDto.java
  worker-management-component/src/main/java/shop/wazard/exception/RosterNotFoundException.java
  worker-management-component/src/main/java/shop/wazard/exception/WorkerManagementExceptionHandler.java
  worker-management-component/src/test/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapterTest.java
  worker-management-component/src/test/java/shop/wazard/application/WorkerManagementServiceTest.java
Labels: feature, test, 김민규, size/L

#166 [Docs/#157] dockerfile 추가
  Dockerfile
Labels: documentation, 심종한, size/XS

#171 [Test/#170] 초대 대기자 목록 조회 service 단위 테스트 & 구현
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/port/in/WorkerManagementService.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/RosterForWorkerManagementPort.java
  worker-management-component/src/main/java/shop/wazard/dto/WaitingWorkerReqDto.java
  worker-management-component/src/main/java/shop/wazard/dto/WaitingWorkerResDto.java
  worker-management-component/src/test/java/shop/wazard/application/WorkerManagementServiceTest.java
Labels: feature, test, 심종한, size/L

#168 [Feat/#167] 마이페이지 모듈 생성 및 근무자 과거 근무지 리스트 조회 api 개발
  build.gradle
  entity-component/src/main/java/shop/wazard/entity/company/RosterJpa.java
  mypage-component/build.gradle
  mypage-component/src/main/java/shop/wazard/adapter/in/rest/MyPageController.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForMyPageMapper.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/AccountJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/MyPageDbAdapter.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/MyPageMapper.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/RosterJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/application/MyPageServiceImpl.java
  mypage-component/src/main/java/shop/wazard/application/domain/AccountForMyPage.java
  mypage-component/src/main/java/shop/wazard/application/domain/CompanyInfoForMyPage.java
  mypage-component/src/main/java/shop/wazard/application/port/in/MyPageService.java
  mypage-component/src/main/java/shop/wazard/application/port/out/AccountForMyPagePort.java
  mypage-component/src/main/java/shop/wazard/application/port/out/CompanyForMyPagePort.java
  mypage-component/src/main/java/shop/wazard/application/port/out/RosterForMyPagePort.java
  mypage-component/src/main/java/shop/wazard/dto/GetPastWorkplaceReqDto.java
  mypage-component/src/main/java/shop/wazard/dto/GetPastWorkplaceResDto.java
  mypage-component/src/main/java/shop/wazard/exception/AccountNotFoundException.java
  mypage-component/src/main/java/shop/wazard/exception/CompanyNotFoundException.java
  mypage-component/src/main/java/shop/wazard/exception/MyPageExceptionHandler.java
  mypage-component/src/main/java/shop/wazard/exception/NotAuthorizedException.java
  mypage-component/src/test/java/shop/wazard/adapter/out/persistence/MyPageDbAdapterTest.java
  mypage-component/src/test/java/shop/wazard/application/MyPageServiceImplTest.java
  mypage-component/src/test/resources/application.yml
  settings.gradle
  worker-management-component/src/test/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapterTest.java
Labels: feature, test, 김민규, size/XL

#173 [Test/#172] 초대 대기자 목록 조회 repository 단위 테스트 & 구현
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WaitingListJpaForWorkerManagementRepository.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapter.java
  worker-management-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerManagementMapper.java
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/WaitingListForWorkerManagementPort.java
  worker-management-component/src/test/java/shop/wazard/adapter/out/persistence/WorkerManagementDbAdapterTest.java
  worker-management-component/src/test/java/shop/wazard/application/WorkerManagementServiceTest.java
Labels: feature, test, 심종한, size/L

#174 [Feat/#165] 초대 대기자 목록 조회 controller 구현
  worker-management-component/src/main/java/shop/wazard/adapter/in/rest/WorkerManagementController.java
Labels: feature, 심종한, size/XS

#181 [Feat/#180] 근무자 과거 근무 기록 상세조회 service 단위 테스트 및 개발 코드 구현
  common-component/src/main/java/shop/wazard/util/calculator/Calculator.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/MyPageDbAdapter.java
  mypage-component/src/main/java/shop/wazard/application/MyPageServiceImpl.java
  mypage-component/src/main/java/shop/wazard/application/domain/WorkRecordForMyPage.java
  mypage-component/src/main/java/shop/wazard/application/port/in/MyPageService.java
  mypage-component/src/main/java/shop/wazard/application/port/out/CompanyForMyPagePort.java
  mypage-component/src/main/java/shop/wazard/application/port/out/WorkRecordForMyPagePort.java
  mypage-component/src/main/java/shop/wazard/dto/GetMyPastWorkRecordReqDto.java
  mypage-component/src/main/java/shop/wazard/dto/GetMyPastWorkRecordResDto.java
  mypage-component/src/test/java/shop/wazard/application/MyPageServiceImplTest.java
Labels: feature, test, 김민규, size/L

#186 [Feat/#185] 근무자 과거 근무 기록 상세조회 repository 단위 테스트 및 개발 코드 구현
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/AbsentJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/AccountJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/EnterRecordJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/ExitRecordJpaForMyPageRepository.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/MyPageDbAdapter.java
  mypage-component/src/main/java/shop/wazard/adapter/out/persistence/MyPageMapper.java
  mypage-component/src/test/java/shop/wazard/adapter/out/persistence/MyPageDbAdapterTest.java
Labels: feature, test, 김민규, size/L

#184 [Test/#182] 특정 근무자 상세조회 service 단위 테스트 & 구현
  worker-management-component/src/main/java/shop/wazard/application/WorkerManagementServiceImpl.java
  worker-management-component/src/main/java/shop/wazard/application/port/in/WorkerManagementService.java
  worker-management-component/src/main/java/shop/wazard/application/port/out/CommuteRecordForWorkerManagementPort.java
  worker-management-component/src/main/java/shop/wazard/dto/AbsentRecordDto.java
  worker-management-component/src/main/java/shop/wazard/dto/CommuteRecordDto.java
  worker-management-component/src/main/java/shop/wazard/dto/GetWorkerAttendacneRecordReqDto.java
  worker-management-component/src/main/java/shop/wazard/dto/GetWorkerAttendanceRecordResDto.java
  worker-management-component/src/test/java/shop/wazard/application/WorkerManagementServiceTest.java
Labels: feature, test, 심종한, size/L

#189 [Feat/#161] 대타등록하기 테스트코드및 구현
  entity-component/src/main/java/shop/wazard/entity/worker/ReplaceWorkerJpa.java
  worker-component/src/main/java/shop/wazard/adapter/in/rest/WorkerController.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/AccountForWorkerMapper.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/AccountJpaForWorkerRepository.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/CompanyJpaForWorkerRepository.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/ReplaceJpaForWorkerRepository.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerDbAdapter.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerMapper.java
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerRepository.java
  worker-component/src/main/java/shop/wazard/application/WorkerServiceImpl.java
  worker-component/src/main/java/shop/wazard/application/domain/AccountForWorker.java
  worker-component/src/main/java/shop/wazard/application/domain/ReplaceInfo.java
  worker-component/src/main/java/shop/wazard/application/port/in/WorkerService.java
  worker-component/src/main/java/shop/wazard/application/port/out/AccountForWorkerPort.java
  worker-component/src/main/java/shop/wazard/application/port/out/WorkerPort.java
  worker-component/src/main/java/shop/wazard/dto/RegisterReplaceReqDto.java
  worker-component/src/main/java/shop/wazard/dto/RegisterReplaceResDto.java
  worker-component/src/main/java/shop/wazard/exception/CompanyNotFoundException.java
  worker-component/src/test/java/shop/wazard/adapter/out/persistence/WorkerDbAdapterTest.java
  worker-component/src/test/java/shop/wazard/application/WorkerServiceImplTest.java
  worker-component/src/test/resources/application.yml
Labels: feature, test, 진윤규, size/L

#199 [Fix/#183] Account-Component domain 패키지 이동
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountDbAdapter.java
  account-component/src/main/java/shop/wazard/adapter/out/persistence/AccountMapper.java
  account-component/src/main/java/shop/wazard/application/AccountServiceImpl.java
  account-component/src/main/java/shop/wazard/application/UserDetailServiceImpl.java
  account-component/src/main/java/shop/wazard/application/domain/Account.java
  account-component/src/main/java/shop/wazard/application/domain/AccountForSecurity.java
  account-component/src/main/java/shop/wazard/application/domain/AccountStatus.java
  account-component/src/main/java/shop/wazard/application/domain/GenderType.java
  account-component/src/main/java/shop/wazard/application/domain/MyProfile.java
  account-component/src/main/java/shop/wazard/application/port/out/AccountPort.java
  account-component/src/main/java/shop/wazard/dto/UpdateMyProfileReqDto.java
  account-component/src/test/java/shop/wazard/application/AccountServiceTest.java
Labels: fix, 심종한, size/M

#191 [Feat/#190] 대타기록 조회하기 service테스트코드 작성및 구현
  worker-component/src/main/java/shop/wazard/adapter/out/persistence/WorkerDbAdapter.java
  worker-component/src/main/java/shop/wazard/application/WorkerServiceImpl.java
  worker-component/src/main/java/shop/wazard/application/port/in/WorkerService.java
  worker-component/src/main/java/shop/wazard/application/port/out/WorkerPort.java
  worker-component/src/main/java/shop/wazard/dto/GetMyReplaceRecordReqDto.java
  worker-component/src/main/java/shop/wazard/dto/GetMyReplaceRecordResDto.java
  worker-component/src/test/java/shop/wazard/application/WorkerServiceImplTest.java
Labels: feature, test, 진윤규, size/L
